<div fxLayout="Column" fxLayoutGap="30px">
  <mat-card>
    <mat-card-content>
      <!-- ================== Form Field =================== -->
      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
        <!-- =================== Table =============== -->
        <div class="responsive-table">
          <div class="topContainer">
            <div class="searchBar">
              <mat-form-field appearance="outline">
                <mat-label>Search Article... </mat-label>
                <input
                  matInput
                  placeholder=""
                  search
                  (keyup)="applyEvent($event)"
                />
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
            <div class="action">
              <button
                mat-raised-button
                type="submit"
                color="primary"
                (click)="openDialog()"
              >
                Add Article
              </button>
            </div>
          </div>
          <mat-table #table [dataSource]="dataSource" matSort display="flex">
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                ID.
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.id }}
              </mat-cell>
            </ng-container>
            <!-- Title Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Name
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.name }}
              </mat-cell>
            </ng-container>
            <!-- Short Description Column -->
            <ng-container matColumnDef="image_link">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Image Link
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.image_link }}
              </mat-cell>
            </ng-container>
            <!-- Long Description Column -->
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Description
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.description }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="price">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Price
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.price }}
              </mat-cell>
            </ng-container>
            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div class="actionContainer">
                  <span
                    class="editButton"
                    mat-raised-button
                    color="primary"
                    (click)="editArticle(element)"
                  >
                    <mat-icon>edit</mat-icon>
                  </span>
                  <span
                    class="deleteButton"
                    mat-raised-button
                    color="warn"
                    (click)="deleteArticle(element.id)"
                  >
                    <mat-icon>delete_outline</mat-icon>
                  </span>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>

          <mat-paginator
            [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page"
          >
          </mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
